<%= form_for [category, book, genres_book] do |f| %>
  <% if genres_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genres_book.errors.count, "error") %> prohibited this action from being saved:</h2>

      <ul>
        <% genres_book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :genre_name %>
    <input type="text" name="genres_book[genre_name]" id="genres_book_genre_name">
  </div>

  <div class="field" hidden>
    <%= f.label :book_id %>
    <%= f.text_field :book_id, value: book.id %>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Add Genre" data-disable-with="Add Genre">
  </div>
<% end %>
