<p id="notice"><%= notice %></p>
<p id="read_status"></p>
<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category.name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @book.release_date %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Image:</strong>
  <br>
  <% if @book.image.attached? %>
    <%= image_tag @book.image, style: 'width: 200px;' %>
  <% end %>
</p>

<%= render 'ratings/index' %>
<%= render 'ratings/form' %>


<p>
  <strong>Genres:</strong>
  <%= @book.genres.pluck(:name).map(&:humanize).join(", ") %>
</p>

<h3>Add Genre</h3> <%= render 'genres_books/form', category: @book.category ,book: @book, genres_book: @genres_book || GenresBook.new %>

<h1>Comments</h1>
<%= render 'comments/list', comments: @book.comments %>

<%= render 'comments/form', category: @book.category ,book: @book, comment: Comment.new %>

<%= link_to 'Edit', edit_category_book_path(@category, @book) %> |
<%= link_to 'Back', category_books_path(@category) %>

<script>
    $("#read_status").ready(function(){
        $.ajax({
            url :'/categories/' + <%= @category.id %> + '/books/'+ <%= @book.id %>+'/read',
            type :"POST"
        });
    });
</script>